.container {
  padding: 0 405px;
}

* {
  font-family: "Montserrat";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

button {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
}

.nav {
  position: absolute;
  left: 932px;
  top: 40px;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.nav-list-link {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.hero-section {
  background-image: url("../../images/hero-background.jpg");
  background-size: cover;
  height: 900px;
}
.hero-wrapper {
  padding-top: 319px;
}
.hero-desc {
  color: #FFFFFF;
  text-align: center;
}
.hero-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64.36px;
  text-align: center;
  max-width: 829px;
  color: #FFFFFF;
  margin: 0 auto;
}
.hero-btn {
  background-color: #4985FF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
          box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.2509803922);
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 200px;
  font-family: Montserrat;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.features-section {
  padding-top: 110px;
  padding-bottom: 110px;
}
.features-title {
  text-align: center;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  max-width: 739px;
  color: #323232;
}
.features-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 70px;
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features-features-svg-second-wrapper {
  border: 1px solid #4985FF;
}
.features-list-item-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  margin-bottom: 12px;
}
.features-btn {
  background-color: #4985FF;
  padding: 13px 36px;
  color: #fff;
  border-radius: 30px;
  border: none;
  margin-top: 55px;
  text-align: center;
  margin: 0 auto;
  color: #323232;
  font-size: 18px;
  font-weight: 600;
}

.dev-section {
  background-color: #F6F6F8;
  padding-top: 152px;
  padding-bottom: 70px;
}
.dev-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dev-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dev-list-item-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 52.66px;
  text-align: left;
}
.dev-list-item-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
}
.dev-list-svg {
  margin-bottom: 0px;
  padding-bottom: 0;
}
.dev-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 121px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 90px;
}
.dev-info-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
  max-width: 424px;
  margin-bottom: 60px;
}
.dev-info-desc {
  max-width: 489px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
}
.dev-info-link {
  color: #4985FF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  text-decoration: underline;
  margin-top: 42px;
}

.works-section {
  padding: 100px 0 130px 0;
}
.works-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: #323232;
}
.works-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */