.header {
    position: relative;
}

.nav {
    position: absolute;
    left: 932px;
    top: 40px;

    &-list {
        display: flex;
        gap: 40px;

        &-link {
            color: $main-white-color;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            text-align: left;

        }
    }
}