* {
    font-family: "Montserrat";
    user-select: none;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}